-extends 'layout.haml'

-block title
  病院待合室サービスについて

-block style
  =style(href=h.static_path('styles/index.css'))

-block main
  %div.gridContainer.clearfix
    %div.fluid.center
      %h3 << 病院待合室サービスについて
  %div.gridContainer.clearfix
    %div.fluid
      本サービスでは、病院の紹介をはじめ、「病院の言葉」「クスリ早見帖」などの病院来院者に向けた有益な情報サービスを提供します。
  %div style="padding:20px;"

  %div.gridContainer.clearfix
    %div.fluid style="line-height:1.4; margin-top:10px;"
      株式会社プラメドプラスは、医療に関する調査と開発を手掛ける会社です。患者と医療従事者の「間」によりよいサービスをプラスします。 

  %div.gridContainer.clearfix
    %div.fluid.center
      %a href="http://www.plamedplus.co.jp/"
      %img src="{{ h.static_path('img/ft_logo.png') }}"

  %div style="padding:20px;"

  %div.gridContainer.clearfix
    %div.fluid
      本システムは、株式会社ATR Creativeが製作しました。

  %div.gridContainer.clearfix
    %div.fluid.center
      %div style="padding:10px;"
      %a href="http://atr-c.jp/"_
        %img src="{{ h.static_path('img/creative_logo.png') }}"

  %div.gridContainer.clearfix
    %div.fluid.center
      %hr size="1"

-block footer
  %footer.center
    %address
      Copyright&copy; 2014
      %script type="text/javascript" language="JavaScript"
        TYnow = new Date();document.write( ' - ' + TYnow.getFullYear() );
      &nbsp;PLAMEDplus. All Rights Reserved.
