-extends 'layout.haml'
-import 'layout.haml' as layout with context

-block style
  =style(href=h.static_path('styles/miyadai.css'))
  =style(href=h.static_path('styles/index.css'))
  %style type="text/css"
    body {
      padding-top: 0px;
    }

-block header

-block main
  %div.gridContainer.clearfix
    %div.center.fluid" align="center"
      %img src="{{ h.static_path('img/top_image_mod.png') }}"
  ; %div.gridContainer.clearfix
  ;   %div.center.fluid
  ;     %img src="{{ h.static_path('img/hospital_title.png') }}" style="padding: 10px 0 10px 0;"
    
  %div.gridContainer.clearfix
    %div.center.fluid
      ; %a.myButtonR href="{{ h.html_path('intro/introduce') }}"
      %a.myButtonR href="#"
        %img src="{{ h.static_path('img/doctor.png') }}" align="bottom"
        ○○病院紹介
      %a.myButtonO href="{{ request.route_path('medicine.top') }}"
        %img src="{{ h.static_path('img/medecine.png') }}"
        クスリ早見帖
    
  %div.gridContainer.clearfix
    %div.center.fluid
      ; %a.myButtonG href="{{ h.html_path('animation/index') }}"
      %a.myButtonG href="#"
        %img src="{{ h.static_path('img/doctor.png') }}" align="top"
        アニメ作品
      %a.myButtonB href="{{ request.route_path('term.top') }}"
        %img src="{{ h.static_path('img/doctor.png') }}"
        病院の言葉
  
  %div.gridContainer.clearfix
    %div.center.fluid
      %a.myButtonW href="{{ request.registry.settings['limesurvey_url'] }}"
        %img src="{{ h.static_path('img/pencil.png') }}"
        アンケート
  