-extends 'layout.haml'

-block style
  =style(href=h.static_path('styles/index.css'))

-block main
  %div.gridContainer.clearfix
    %div.fluid
      %h3 style="display: block; margin-left: auto; margin-right: auto;" << {{ request.params['mark'] }}
      %img.support-landscape style="display: block; margin-left: auto; margin-right: auto;" src="{{ h.static_path('intro/img/%s.png' % request.params['gif']) }}"
