-extends 'layout.haml'

-block title
  宮崎大学医学部付属病院紹介

-block style
  =style(href=h.static_path('styles/miyadai.css'))
  =style(href=h.static_path('styles/index.css'))
  =style(href=h.static_path('styles/bootstrap-navbar.css'))
  
-block main
  %div.gridContainer.clearfix
    %div.fluid.center
      %h3 << 宮崎大学医学部附属病院紹介
      %img src={{ h.static_path('intro/img/pht-gairaishinryou.jpg') }}

  %div.gridContainer.clearfix
    %div.fluid style="line-height:1.4; margin-top:10px;"
      宮崎大学医学部附属病院は医師養成教育機関として1977年10月に開設された地上7階の建物に総病床数632を有する宮崎県における中核的医療機関です。

  %div.gridContainer.clearfix
    %div.fluid.center
    %a.myButtonWlink href="http://www.med.miyazaki-u.ac.jp/home/hospital/" style="width: 100%;" << 宮崎大学医学部附属病院Webサイト

  %div.gridContainer.clearfix
    %div.fluid.center
    %a.myButtonWlink href="#floorguide" style="width: 100%;" << フロアガイド

  %div.space

  %div.gridContainer.clearfix
    %a#floorguide.anchor
    %div.fluid.center
      %h3 << フロアガイド

  {% set floors = ((('小児科', 'pediatrics'), ('放射線科', 'radiology'), ('産婦人科', 'gynecology'), ('脳神経外科', 'neurosurger'), ('カフェテリア', 'cafeteria'), ('外来案内', 'orutside_rd'), ('受付', 'receptiondesk'), ('院外処方箋受付', 'prescription'), ), (('第一内科', 'firstinternal'), ('第二内科', 'secondinternal'), ('第三内科', 'thirdinternal'), ('膠原病・感染症内科', 'collagenosis'), ('第一外科', 'firstsurgery'), ('第二外科', 'secondsurgery'), ('整形外科', 'orthopedicsurgery'), ('中央採血室', 'center-blood'), ), (('泌尿器科', 'urology'), ('皮膚科', 'dermatology'), ('眼科', 'ophthalmology'), ('歯科口腔外科・矯正歯科', 'dental'), ('耳鼻咽喉科', 'otolaryngology'), ('麻酔科', 'anesthesiology'), ), ) %}
  -for floor in floors:
    %div.gridContainer.clearfix style="width: 95%;"
      %div.fluid.center
        {% set i = loop.index %}
        %h4 << {{ i }}階
        -for mark in floor:
          %a.mybtn style="font-size: 75%; width:32%; margin: 1px 2px; text-align: center;" href="{{ h.html_path('intro/floor', _query={'mark': mark[0], 'gif': mark[1]}) }}" << {{ mark[0]|safe }}

  %div style="padding: 20px 0;" << &nbsp;