-extends 'layout.haml'

-block title
  医大生によるアニメ作成品

-block style
  =style(href=h.static_path('styles/miyadai.css'))
  =style(href=h.static_path('animation/styles/animation.css'))
  =style(href=h.static_path('styles/bootstrap-navbar.css'))

-block main
  %div.gridContainer.clearfix
    %div.fluid.center
      %h3 << 医大生によるアニメ作品集

  {% set animations = ((('穴に入ると・・・', 'hole'), ('サイバーテロ', 'cybertero'), ('記憶力クイズ', 'quiz'), ('だじゃれをいうのだれじゃ？', 'who'), ('体の中の小さなヒーロー', 'smallhero'),), (('四文字熟語クイズ', 'fourquiz'), ('かぼちゃおじさんものがたり', 'pampkin'), ('教えて！はかせ「反射」', 'teach'), ('算数マジック', 'magic'), ('急患です！', 'emergency'),), (('町の王者', 'townhero'), ('かけざん九九', 'kuku'), ('大きくなあれ', 'large'), ('食べもののゆくえ', 'food'), ('それでも進むのだ', 'move'),), (('やぎさんゆうびん', 'yagi-san'), ('えーん、えーん', 'crycry'), ('クイズ&nbsp;&nbsp;できるかな？', 'quizcan'), ('手をあらおう', 'handwash'), ('外来受付案内', 'info'),), (('●がまわってねむくなる', 'turn_sleepy1'), ('太陽と影', 'sunshadow'), ('１円玉は・・・', '1yen'), ('サイバーテロジャー', 'cybertero2'),),) %}
  {% set display = 'inline' %}
  {% set more = True %}
  -for page in animations:
    {% set i = loop.index %}
    -if i == 2:
      {% set display = 'none' %}
    %div.gridContainer.clearfix
      %div.fluid.center
        -for item in page:
          -if i == 2 and loop.index == 1:
            %a.myButtonWlink href="javascript:void(0);" onclick="$('.link-animation').css({display: 'inline'});$(this).css({display: 'none'});" << もっと見る...
          %a.myButtonWlink.link-animation href="{{ h.html_path('animation/item', _query={'title': item[0], 'gif': item[1]}) }}" style="display: {{ display }};" << {{ item[0]|safe }}

  %div style="padding: 20px 0;" << &nbsp;
