-extends 'layout.haml'

-block title
  医大生によるアニメ作品

-block style
 =style(href=h.static_path('animation/styles/animation.css'))

-block main
  %div.gridContainer.clearfix
    %div.fluid
      %div.animation
        %h3 << {{ request.params['title']|safe }}
        %img.support-landscape src="{{ h.static_path('animation/img/%s.gif' % request.params['gif']) }}"
