-extends 'layout.haml'

-block title
  医大生によるアニメ作品

-block style
 =style(href=h.static_path('animation/styles/animation.css'))

-block main
  {% set gifs = request.params['gifs'].split(',') %}
  -for title in request.params['titles'].split(','):
    %div.gridContainer.clearfix
      %a.anchor id="{{ loop.index }}"
      %div.fluid
        %div.animation
          %h3 << {{ title|safe }}
          %img src="{{ h.static_path('animation/img/%s.gif' % gifs[loop.index-1]) }}"
    %div.space
